// BOOTSTRAP PRESETS
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

// BOOTSTRAP BASE
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/grid';

// BOOTSTRAP UTILITIES
@import 'node_modules/bootstrap/scss/utilities/align';
@import 'node_modules/bootstrap/scss/utilities/display';
@import 'node_modules/bootstrap/scss/utilities/spacing';

.foo {
  color: black;
}

.goo {
  color: aqua;
}

.aaa {
  color: aquamarine;
}
